.container{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
   height: 100vh;
}
.terminal-window{
  background-color:rgba(0, 0, 0, 0.747) ;
  border-radius: 1rem 0  0 1rem;
  backdrop-filter: blur(10px);

}
